#progress-bar {
   width: 100vw;
   height: 100vh;
   position: absolute;
   z-index: 10;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: var(--bg-color-3);
   transition: opacity 0.4s;
}

#progress-bar.hidden {
   opacity: 0;
}

#progress-bar #load-logo {
	animation: fading 5s ease-in-out infinite;
   width: 2.1rem;
   height: 2.1rem;
   padding: 10px;
   align-self: center;
}

#progress-bar .progress-bar-wrapper {
   display: flex;
   flex-direction: column;
}

#progress-bar .progress-bar-text span {
   font-family: monospace;
   font-size: 0.9rem;
   color: var(--font-color-1);
   font-weight: 600;
   letter-spacing: .2px;
}

#progress-bar .progress-bar-inscription span:first-child {
   margin-right: 0.3rem;
}

@keyframes fading {
	0% {
		opacity: 0.4;
	}
	40% {
		opacity: 0.8;
	}
	60% {
		opacity: 0.8;
	}
	100% {
		opacity: 0.4;
	}
}